<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/logo.png" />
    <title>DEV Community 👩‍💻👨‍💻</title>
</head>
<body>
    <header>
        <div class="container-fluid fixed-top">        
            <div class="row" id="principal">
                <div class="col-5 d-flex align-content-center">
                 <div class="logo"><a href="../index.html"><img src="../img/logo.png" width="50" height="50" alt=""></a></div>
                    <nav class="navbar" id="search">
                        <div class="container-fluid">
                          <h3>Create Post</h3>
                        </div>
                      </nav>
                </div>
                <div class="col" >
                    <div class="gral__icons">
                        <button class="btn btn">❌</button>
                    </div>
                </div>
            </div>       
        </div>        
    </header>
    <main>
      <div class="d-flex">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <h2>DEV runs on 100% open source code known as Forem. <br>
              Contribute to the codebase or host your own!</h2>
              <p>Check these out! 👇</p>
              <ul>
                  <li>Main Forem Repo </li>
                  <li>Self-Host Instructions</li>
              </ul>
      </div>
      <div class="card2">
        <h2>Writing a Great Post Title</h2>
            <p>Think of your post title as a super short (but compelling!) description — like an overview of the actual post in one short sentence.
              Use keywords where appropriate to help ensure people can find your post by search.</p>
    </div>
      </div>
    </main>
    <footer>
        <div>
           <a href="#">DEV Community 👩‍💻👨‍💻</a>— A constructive and inclusive social network for software developers. With you every step of your journey.
            Built on <a href="#"> Forem</a>— the <a href="#">open source</a> software that powers <a href="#">DEV</a> and other inclusive communities.
             Made with love and <a href="#">Ruby on Rails</a>. DEV Community 👩‍💻👨‍💻 © 2016 - 2022.            
        </div>
        <div class="footer__img">
            🌱
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>